{% extends 'base.html' %}

{% block content %}


<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Felicidades</h4>
                        <h2>¡Ya puedes disfrutar de los mejores articulos!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

    <!-- Banner Ends Here -->


<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="down-contact">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="content">
                                    <center>
                                        <h2>Contraseña restablecida</h2>
                                        <p>Tu contraseña se ha restablecido correctamente.</p>
                                        <br><br>
                                        <a class="btn nav-link" href="{% url 'apps.user:login' %}" style="background-color: #f48840; color: white;">Iniciar Sesión</a>
                                        </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}