{% extends 'base.html'%}

{% load static %}

{% block content %}


<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>Articulos</h4>
                        <h2>¡Enterate de todas las recomendaciones!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner End Here -->


{% if posts %}
    {% if user.is_staff %}
            <div class="post-options">
                <div class="row">
                    <form method="POST" action="{% url 'apps.posts:posts_create' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success"> Crear Articulo </button>
                    </form>
                    &nbsp;&nbsp;
                    <a class="btn btn-success" href="{% url 'apps.posts:tags' %}">Etiquetas</a>
                </div>
            </div>

    {% endif %}
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            {% for i in posts %}
                                <div class="col-lg-6">
                                    <div class="blog-post article">
                                        <div class="blog-thumb">
                                            <img src="{{ i.image.url }}" alt="Imagen del Post">
                                        </div>
                                        <div class="down-content">
                                            <span>{{ i.category }}</span>
                                            <a href="{% url 'apps.posts:post_individual' i.id %}"><h4>{{ i.title }}</h4></a>
                                            <ul class="post-info">
                                                <li><a>{{ i.author }}</a></li>
                                                <li><a>{{ i.date }}</a></li>
                                                <li><a>{{ i.comments.count }} Comentarios</a></li>
                                            </ul>
                                            <p>{{ i.text }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" style="color: #FFA500;">&laquo; Primero</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="color: #FFA500;">Anterior</a>
                                </li>
                            {% endif %}
    
                            {% for page_number in page_obj.paginator.page_range %}
                                {% if page_number == page_obj.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ page_number }}" style="background-color: #FFA500; border-color: #FFA500;">{{ page_number }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_number }}" style="color: #FFA500;">{{ page_number }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
    
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color: #FFA500;">Siguiente</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" style="color: #FFA500;">Último &raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>FILTROS</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="{% url 'apps.posts:post_alpha_des' %}">Alfabético Descendente</a></li>
                                            <li><a href="{% url 'apps.posts:post_alpha_asc' %}">Alfabético Ascendente</a></li>
                                            <li><a href="{% url 'apps.posts:post_date_des' %}">Antigüedad Descendente</a></li>
                                            <li><a href="{% url 'apps.posts:post_date_asc' %}">Antigüedad Ascendente</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}

{% if user.is_staff %}
        <div class="post-options">
            <div class="row">
                <form method="POST" action="{% url 'apps.posts:posts_create' %}">
                    {% csrf_token %}
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-success"> Crear Articulo </button>
                    <a class="btn btn-success" href="{% url 'apps.posts:tags' %}">Etiquetas</a>
                </form>
            </div>
        </div>
{% endif %}
<section class="blog-posts grid-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <center><h1>NO HAY ARTICULOS</h1></center>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}
